.rune{
    width: 548px;
    height: 183px;
    display: flex;
    position: relative;
}

.rune__circle{
    background-image: url('../../images/point-circle.svg');
    height: 176px;
    width: 176px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rune__number{
    margin: 0;
    position: absolute;
    font-family: 'Runic Alt', arial;
    font-weight: 400;
    font-size: 102px;
    line-height: 100%;
    color: #89872B;
}

.rune__text{
    margin: 0;
    font-weight: 300;
    position: absolute;
    top: 111px;
    left: 115px;
    font-size: 20px;
    color: #DFE2DF;
    align-self: flex-end;
    width: 433px;
}