.about{
    position: relative;
    height: 759px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,#101B13 -7%, rgba(16, 27, 19, 0.8) 60%)
}

.about__bg{
    position: absolute;
    background-image: url('../../images/about-bg.svg');
}

.about__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 860px;
    z-index: 2;
}

.about__title{
    color: #FFF;
    font-size: 26px;
    font-weight: 400;
}

.about__text{
    color: #FFF;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 350;
}